@{
    ViewBag.Title = "Home Page";
    ViewBag.IsLoggedIn = Site.Services.HttpContextHelpers.IsAuthenicated(Context);
}

@model Site.Models.AuthenticationDetails

<div class="container">
    <h2>Please enter login and password</hs>
    @using (Html.BeginForm("Index", "User", FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(model => model.Login, new { placeholder = "Login" })
            @Html.ValidationMessageFor(model => model.Login)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Password, new { placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div><input type="submit" value="Login" class="btn btn-default" /></div>
    }
</div>