@{
    ViewBag.Title = "Home Page";
    ViewBag.IsLoggedIn = Site.Services.HttpContextHelpers.IsAuthenicated(this.Context);
}

<div class="row">
    <div class="col-md-5"></div>
    <div class="container col-md-2">
        <div>Welcome to status, a test project</div>
    </div>
    <div class="col-md-5"></div>
</div>
